{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}LITReview | Abonnements{% endblock title %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-9 col-lg-8 col-xl-7 col-xxl-6">

        <div class="d-flex justify-content-center mb-5">
            <a href="{% url 'create_ticket' %}" class="btn btn-secondary me-4">Demander une critique</a>
            <a href="" class="btn btn-secondary">Créer une critique</a>
        </div>

        {% for ticket in tickets %}

        <div class="bg-dark rounded p-4 mb-4">
            <div class="d-flex justify-content-between text-secondary">
                {% if ticket.user == user %}
                <small>Vous avez demandé une critique.</small>
                {% else %}
                {{ ticket.user.username }} a demandé une critique.
                {% endif %}
                <small class="ms-4">{{ ticket.time_created|date }} {{ ticket.time_created|time }}</small>
            </div>
            <h5 class="text-white mt-4">{{ ticket.title }}</h5>
            {% if ticket.description %}
            <p class="text-white"><small>{{ ticket.description }}</small></p>
            {% endif %}
            {% if ticket.image %}
            <div class="row justify-content-center mt-4">
                <div class="col-8 col-sm-5 col-lg-4">
                    <img class="img-fluid" src="{{ ticket.image.url }}" alt="">
                </div>
            </div>
            {% endif %}
            {% if user != ticket.user %}
            <p class="text-end mt-4 mb-0">
                <a class="btn btn-sm btn-secondary" href="">Créer une critique</a>
            </p>
            {% endif %}
        </div>

        {% endfor %}

    </div>
</div>

{% endblock content %}