{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}LITReview | Posts{% endblock title %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-9 col-lg-8 col-xl-7 col-xxl-6">

        {% for post in posts %}
        {% if post.content_type == "TICKET" and not post.review %}
        {% include "reviews/fragments/ticket.html" %}
        {% elif post.content_type == "REVIEW" %}
        {% include "reviews/fragments/review.html" %}
        {% endif %}
        {% endfor %}
        
    </div>
</div>

{% endblock content %}