{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}
LITReview | {% if review %}Modification d'une critique{% else %}Nouvelle critique{% endif %}
{% endblock title %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-9 col-lg-8 col-xl-7 col-xxl-6">
        <h3 class="text-center text-white mb-5">
            {% if review %}Modification d'une critique{% else %}Nouvelle critique{% endif %}
        </h3>
        <div class="bg-dark rounded p-4 mb-4">
            <div class="d-flex justify-content-between text-secondary">
                {% if ticket.user == user %}
                <small>Ticket - Vous</small>
                {% else %}
                <small>Ticket - {{ ticket.user.username }}</small>
                {% endif %}
                <small class="ms-4">{{ ticket.time_created|date }} {{ ticket.time_created|time }}</small>
            </div>
            <h5 class="text-white mt-3">{{ ticket.title }}</h5>
            {% if ticket.description %}
            <p><small class="text-white">{{ ticket.description|linebreaks }}</small></p>
            {% endif %}
            {% if ticket.image %}
            <div class="text-center mt-4">
                <img class="img-fluid book-cover" src="{{ ticket.image.url }}" alt="">
            </div>
            {% endif %}
        </div>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form review_form bound_css_class="" %}
            <div class="text-center text-sm-end">
                {% if review %}
                <a class="btn btn-secondary mt-4 me-3" href="{% url 'posts' %}">Retourner</a>
                {% else %}
                <a class="btn btn-secondary mt-4 me-3" href="{% url 'feed' %}">Retourner</a>
                {% endif %}
                <button class="btn btn-secondary mt-4" type="submit">
                    {% if review %}Enregistrer{% else %}Créer{% endif %}
                </button>
            </div>
        </form>
    </div>

</div>

{% endblock content %}