<div class="modal fade" id="delete-review-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h4 class="text-white">Confirmation de suppression</h4>
                <button class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body mt-3">
                <h5>{{ post.headline }}</h5>
                <p class="text-white fw-light mt-3">Êtes vous sûr de vouloir supprimer cette critique ?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger mt-3"  href="{% url 'delete_review' post.id %}">Supprimer</a>
            </div>
        </div>
    </div>
</div>