<div class="bg-dark rounded p-4 mb-4">
    <div class="d-flex justify-content-between text-secondary">
        {% if post.user == user %}
        <small>Vous avez publié une critique.</small>
        {% else %}
        <small>{{ post.user.username }} a publié une critique.</small>
        {% endif %}
        <small class="ms-4">{{ post.time_created|date }} {{ post.time_created|time }}</small>
    </div>
    <h5 class="text-white mt-3">
        {{ post.headline }} -
        <span class="nobr">{% include "reviews/fragments/star_rating.html" %}</span>
    </h5>
    {% if post.body %}
    <p><small class="text-white">{{ post.body|linebreaks }}</small></p>
    {% endif %}
    {% if post.user == user %}
    <p class="text-center text-sm-end mt-4 mb-0">
        <a class="btn btn-sm btn-secondary me-3" href="{% url 'update_review' post.id %}">Modifier</a>
        <a class="btn btn-sm btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#delete-review-modal">Supprimer</a>
    </p>
    {% endif %}

    <hr class="text-white my-4">

    <div class="d-flex justify-content-between text-secondary">
        {% if post.ticket.user == user %}
        <small>Ticket - Vous</small>
        {% else %}
        <small>Ticket - {{ post.ticket.user.username }}</small>
        {% endif %}
        <small class="ms-4">{{ post.ticket.time_created|date }} {{ post.ticket.time_created|time }}</small>
    </div>
    <h5 class="text-white mt-3">{{ post.ticket.title }}</h5>
    {% if post.ticket.description %}
    <p><small class="text-white">{{ post.ticket.description|linebreaks }}</small></p>
    {% endif %}
    {% if post.ticket.image %}
    <div class="text-center mt-4">
        <img class="img-fluid book-cover" src="{{ post.ticket.image.url }}" alt="">
    </div>
    {% endif %}
    {% if post.ticket.user == user %}
    <p class="text-center text-sm-end mt-4 mb-0">
        <a class="btn btn-sm btn-secondary me-3" href="{% url 'update_ticket' post.ticket.id %}">Modifier</a>
        <a class="btn btn-sm btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#delete-ticket-modal">Supprimer</a>
    </p>
    {% endif %}
</div>

{% include "reviews/fragments/delete_ticket_modal.html" %}
{% include "reviews/fragments/delete_review_modal.html" %}