<div class="bg-dark rounded p-4 mb-4">
    <div class="d-flex justify-content-between text-secondary">
        {% if post.user == user %}
        <small>Vous avez demandé une critique.</small>
        {% else %}
        <small>{{ post.user.username }} a demandé une critique.</small>
        {% endif %}
        <small class="ms-4">{{ post.time_created|date }} {{ post.time_created|time }}</small>
    </div>
    <h5 class="text-white mt-3">{{ post.title }}</h5>
    {% if post.description %}
    <div class="text-light fs-7 mt-3">{{ post.description|linebreaks }}</div>
    {% endif %}
    {% if post.image %}
    <div class="text-center mt-4">
        <img class="img-fluid book-cover" src="{{ post.image.url }}" alt="">
    </div>
    {% endif %}
    <p class="text-center text-sm-end mt-4 mb-0">
        <a class="btn btn-sm btn-secondary me-3" href="{% url 'update_ticket' post.id %}">Modifier</a>
        <a class="btn btn-sm btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#delete-ticket-modal">Supprimer</a>
    </p>
</div>

{% include "reviews/fragments/posts/delete_ticket_modal.html" %}