body {
    background-color: rgb(80, 80, 80);
}

.nobr {
    white-space: nowrap;
}

#main-container {
    min-height: calc(100vh - 75px);
}

footer {
    height: 75px;
}

#logo {
    max-width: 80px;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 5px;
}

label, input {
    color: white;
}

#quote {
    margin-top: 100px;
    color: rgb(120, 120, 120);
    font-family: 'Caveat', cursive;
}

a {
    color: rgb(195, 195, 195);
    text-underline-offset: 3px;
}

a:hover {
    color: white;
    text-underline-offset: 3px;
}

.star {
    width: 20px;
    padding-bottom: 5px;
}
