{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}LITReview | Connexion{% endblock title %}

{% block content %}

<div class="row justify-content-between">

    <div class="col-lg-6 col-xl-8">
        <h3 class="text-center text-white">Inscrivez-vous maintenant</h3>
        <p class="text-center mt-4">
            <a class="btn btn-secondary mt-2" href="{% url 'registration' %}">S'inscrire</a>
        </p>
        <figure class="d-none d-lg-block">
            <blockquote class="blockquote fs-5" id="quote">
                <p>« Lire est le seul moyen de vivre plusieurs fois. »</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <cite>Pierre Dumayet</cite>
            </figcaption>
        </figure>
    </div>

    <hr class="text-white my-5 d-lg-none">

    <div class="col-lg-5 col-xl-4">
        <h3 class="text-center text-white mb-4">Connectez-vous</h3>
        {% if error_message %}
        <div class="alert alert-dark alert-dismissible fade show my-4">
            {{ error_message }}
            <button class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form bound_css_class="" %}
            <div class="text-center text-lg-end">
                <button class="btn btn-secondary mt-4" type="submit">Connexion</button>
            </div>
        </form>
    </div>

</div>

{% endblock content %}