{% load static %}

{% if post.rating == 1 %}
<img class="star" src="{% static 'img/filled-star.png' %}" alt="">
<img class="star" src="{% static 'img/empty-star.png' %}" alt="">
<img class="star" src="{% static 'img/empty-star.png' %}" alt="">
<img class="star" src="{% static 'img/empty-star.png' %}" alt="">
<img class="star" src="{% static 'img/empty-star.png' %}" alt="">
{% elif post.rating == 2 %}
<img class="star" src="{% static 'img/filled-star.png' %}" alt="">
<img class="star" src="{% static 'img/filled-star.png' %}" alt="">
<img class="star" src="{% static 'img/empty-star.png' %}" alt="">
<img class="star" src="{% static 'img/empty-star.png' %}" alt="">
<img class="star" src="{% static 'img/empty-star.png' %}" alt="">
{% elif post.rating == 3 %}
<img class="star" src="{% static 'img/filled-star.png' %}" alt="">
<img class="star" src="{% static 'img/filled-star.png' %}" alt="">
<img class="star" src="{% static 'img/filled-star.png' %}" alt="">
<img class="star" src="{% static 'img/empty-star.png' %}" alt="">
<img class="star" src="{% static 'img/empty-star.png' %}" alt="">
{% elif post.rating == 4 %}
<img class="star" src="{% static 'img/filled-star.png' %}" alt="">
<img class="star" src="{% static 'img/filled-star.png' %}" alt="">
<img class="star" src="{% static 'img/filled-star.png' %}" alt="">
<img class="star" src="{% static 'img/filled-star.png' %}" alt="">
<img class="star" src="{% static 'img/empty-star.png' %}" alt="">
{% elif post.rating == 5 %}
<img class="star" src="{% static 'img/filled-star.png' %}" alt="">
<img class="star" src="{% static 'img/filled-star.png' %}" alt="">
<img class="star" src="{% static 'img/filled-star.png' %}" alt="">
<img class="star" src="{% static 'img/filled-star.png' %}" alt="">
<img class="star" src="{% static 'img/filled-star.png' %}" alt="">
{% endif %}