<!DOCTYPE html>
{% load static %}
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock title %}</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <div id="main-container">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand me-5" href="">
                    <img id="logo" src="{% static 'img/logo.png' %}" alt="logo">
                    LITReview
                </a>
                {% if user.is_authenticated %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li>
                            <a class="nav-link me-2" href="{% url 'feed' %}">Flux</a>
                        </li>
                        <li>
                            <a class="nav-link me-2" href="{% url 'posts' %}">Posts</a>
                        </li>
                        <li>
                            <a class="nav-link me-2" href="{% url 'subscriptions' %}">Abonnements</a>
                        </li>
                    </ul>
                    <p class="text-white mt-3 me-4">Connecté : {{ user.username }}</p>
                    <a class="btn btn-secondary me-3 my-2" href="{% url 'logout' %}">Déconnexion</a>
                </div>
                {% endif %}
            </div>
        </nav>
        <div class="container mt-5">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <footer class="bg-dark mt-5">
        <p class="text-white text-center pt-4">&copy; <span>{% now "Y" %}</span> LITReview</p>
    </footer>

</body>

</html>